:root{
    --color1: rgb(210, 210, 210);
    --color2: white;
    --color3: rgba(205, 199, 199, 0.963);
    --color4: rgb(239, 86, 86);
    --color5: black;
    --fuente1: sans-serif;
    --headerSpace: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente1);
}
.carrito-inactive{
    transform: translateX(620px);
    transition: 1s;
}
.inactiveMovilMenu{
    transform: translateX(-200px);
    transition: 1s;
}
.inactive{
    display: none;
}
/* Encabezado barra de navegación */
header{
    background-color: var(--color2);
    width: 100%;
    height: var(--headerSpace);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid var(--color5);
}
header button img{
    width: 100%;
}
header button{
    width: 40px;
    margin: 24px;
    background-color: var(--color2);
    border: none;
    display: none;
}
#logo{
    margin: 20px;
    width: 100px;
}
#logo img{
    width: 100%;
}
nav ul{
    display: flex;
}
nav ul li{
    width: auto;
    list-style: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color1);
    cursor: pointer;
}
nav ul li:hover{
    color: var(--color4);
}
nav ul li ::first-letter{
    text-transform: capitalize;
}
#hacer-pedido{
    color: var(--color4);
}
#hacer-pedido:hover{
    color: var(--color1);
}
#lo-mas-vendido-nav{
    text-transform: uppercase;
}
#carritoButton{
    width: 55px;
    height: 55px;
    margin: 24px;
    position: relative;
    cursor: pointer;
    position: absolute;
    right: 0;
}
#carritoButton img{
    width: 100%;
}
#carritoButton p{
    font-size: 20px;
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: var(--color4);
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1.3px solid var(--color5);
}
/* menu de movil */
#menu-movil{
    width: 200px;
    height: 100%;
    background-color: var(--color3);
    position: fixed;
    top: var(--headerSpace);
    left: 0;
    transition: 1s;
}
#contenido-menu-movil{
    margin: 30px auto ;
    width: 80%;
}
#contenido-menu-movil ul{
    display: flex;
    flex-direction: column;
    list-style: none;

}
#contenido-menu-movil ul li{
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 20px;
    border-bottom: 1px solid var(--color4);
    color: var(--color4);
    text-align: right;
}
/* productos */
main{
    margin-top: calc( var(--headerSpace) + 10px);
}
.cards-container{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    place-content: center;
}
.card{
    width: 250px;
    background-color: var(--color4);
    border-radius: 20px;
    cursor: pointer;
}
.card img{
    width: 100%;
    border-radius: 20px;
}
.product-info{
    width: 80%;
    margin: 15px auto;
}
.product-info h3{
    text-align: center;
    color: var(--color2);
}
#sections-container>h2{
    text-align: center;
    margin: 20px 0;
    background-color: var(--color1);
    padding: 10px;
    color: var(--color4);
    text-transform: capitalize;
}
/* detalles de producto */
#detalles-de-producto{
    background-color: var(--color3);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}
#detalles-de-producto-main{
    background-color: var(--color2);
    width: 85%;
    height: 85%;
    margin: 40px auto;
    border-radius: 30px;
}
#cerrar{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}
#cerrar>img{
    width: 50px;
    cursor: pointer;
}
#informacio-del-producto{
    display: flex;
    padding: 15px;
}
.imagen-nombre-descripcion{
    width:70%;
}
.imagen-producto-en-detalle{
    width: 300px;
}
.imagen-producto-en-detalle, .imagen-nombre-descripcion h3, .imagen-nombre-descripcion p{
    margin: auto;
    text-align: center;
}
.imagen-producto-en-detalle img{
    width: 100%;
    border-radius: 20px;
}
#detalles-de-producto-main label{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#detalles-de-producto-main label span{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.selector-de-cantidad{
    margin: auto;
    background-color: var(--color4);
    width: 230px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}
.selector-de-cantidad span:first-letter{
    text-transform: uppercase;
}
.selector-de-cantidad input{
    width: 50px;
    margin: 15px auto auto auto;
    font-size: 15px;
}
.imagen-nombre-descripcion h3{
    font-size: 20px;
    text-transform: capitalize;
}
.anadir-al-carrito img{
    width: 100%;
}
.anadir-al-carrito{
    width: 30px;
    margin: 15px auto;
}
#carrito{
    background-color: var(--color3);
    width: 400px;
    height: 100%;
    position: fixed;
    top: var(--headerSpace);
    right: 0;
    padding: 15px;
    transition: 1s;
    overflow: auto;
    padding-bottom: 100px;
}
.producto-en-carrito{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color2);
    padding: 10px;
    border-radius: 8px;
}
.imagen-de-producto-en-carrito{
    width: 120px;
    
}
.imagen-de-producto-en-carrito img{
    width: 100%;
    border-radius: 8px;
}
.boton-quitar-de-carrito, .anadir-al-carrito{
    cursor: pointer;
}
#pedido{
    background-color: var(--color3);
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#pedido > #lista-informacion{
    display: flex;
    justify-content: space-around;
}
#lista-de-productos-checkout{
    width: 55%;
    padding: 0 50px;
    
}
.producto-checkut{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background-color: var(--color4);
    padding: 6px;
    border-radius: 10px;
    color: var(--color5);
}
#lista-informacion form{
    width: 350px;
    padding: 0 50px;
    margin: auto;
    background-color: var(--color4);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    text-transform: capitalize;
}
#pedido h1{
    text-align: center;
    margin-bottom: 50px;
}
.producto-checkut h3, .producto-checkut h4{
    margin-bottom: 2px;
}
#lista-informacion form div{
    margin-bottom: 15px;
}
#especificaciones-input{
    width: 90%;
    padding: 2px;
}