nav{
    display: none;
}
header button{
    display: flex;
}
header{
    justify-content: space-between;
}
#carritoButton{
    position: relative;
}
#carrito{
    width: 100%;
}
#cerrar>img{
    width: 35px;
}
#cerrar{
    padding: 10px;
}
.imagen-producto-en-detalle{
    width: 200px;
}
#detalles-de-producto-main label span, #detalles-de-producto-main label input {
    font-size: 18px;
}
.selector-de-cantidad{
    width: 140px;
}
.selector-de-cantidad input{
    margin-top: 5px;
}
#lista-informacion{
    flex-direction: column;
    overflow: scroll;
}
#lista-informacion form{
    width: 350px;
    margin-top: 20px;
}
#lista-de-productos-checkout{
    width: 100%;
}