nav{
    display: none;
}
header button{
    display: flex;
}
header{
    justify-content: space-between;
}
#carritoButton{
    position: relative;
}
#carrito{
    width: 100%;
}
#cerrar>img{
    width: 35px;
}
#cerrar{
    padding: 10px;
}
.imagen-producto-en-detalle{
    width: 200px;
}
#detalles-de-producto-main label span, #detalles-de-producto-main label input {
    font-size: 18px;
}
.selector-de-cantidad{
    width: 200px;
}
.selector-de-cantidad input{
    margin-top: 5px;
}
#lista-informacion{
    flex-direction: column;
    overflow: scroll;
}
#lista-informacion form{
    width: 350px;
    margin-top: 20px;
}
#lista-de-productos-checkout{
    width: 100%;
}
.imagen-nombre-descripcion{
    margin: auto;
}
#informacio-del-producto{
    flex-direction: column;
}
.selector-de-cantidad{
    margin-top: 30px;
}
.card{
    width: 200px;
    margin: auto;
}
.product-info h3 {
    font-size: 2rem;
    height: 55px;
}
.cards-container {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 0;
    row-gap: 30px;
    place-content: center;
}
ul p{
    font-size: 2rem;
}
#cantidad-productos-en-carrito{
    font-size: 1.6rem;
}